.ReactTable {
    box-shadow: $box-shadow;
    margin-bottom: 5%;

    @include small {
        width: 95%;
        margin: 0 auto;
    }

    .rt-tbody .rt-td {
        text-align: center;
        width: 85px !important;
    }

    .rt-thead {
        background: $primary-color;
        color: #fff;
        font-size: 1.1em;
        font-weight: 700;
        min-width: 340px !important;
    }

    .rt-th {
        width: 85px !important;
    }

    .-header {
        line-height: 2;
    }
    
    .rt-tbody {
        min-width: 340px !important;
    }

    .rt-tbody .rt-tr-group:nth-child(n) {
        color: #000;
        border: none;

        &:hover {
            background: $primary-color;
            filter: brightness(200%)
        }
    }

    .-pagination .-btn {
        background: $primary-color !important;
        color: #fff !important;
        font-weight: 700;

        &:hover {
            opacity: .5;
        }
    }

    .-previous button:hover {
        opacity: .5;
        background: $primary-color;
        color: $primary-color;
    }
    
    .rt-tr {
        padding: 6px;

        @include medium {
            padding: 3px 0px;
        }
    }
}

.ReactTable.-striped {
    .rt-tr.-odd {
        background: #fff !important;
    }

    .rt-tr.-odd:hover {
        background: $primary-color !important;
        color: #000 !important;
    }
}

.table_container {
    width: 80%;
    margin: 0 auto;

    @include medium {
        width: 100%;
        margin: 0 auto;
        font-size: .7em;
        min-width: 340px;
    }
}

.table_header {
    color: $header-font-color;
    font-weight: 700;
    font-size: 1.4em;
    margin-bottom: 5%;
    text-align: left;
}

.select-wrap {
    @include large {
        display: none;
    }

    select {
        @include large {
            display: none;
        }
    }
}

.chart_container {
    width: 80%;
    margin: 0 auto;

    @include medium {
        width: 100%;
        margin: 0 auto;
        font-size: .8em;
        min-width: 340px;
    }
}

.chart_section {
    display: flex;
    height: 60%;
}

.pie_section {
    height: 70%;
}

.balance_chart {
    height: 100%;
    width: 100%;
    margin-bottom: 10%;
}

.pie_chart {
    height: 100%;
    width: 100%;
    margin-bottom: 10%;
}

canvas {
    width: 100% !important;
    box-shadow: $box-shadow;
    padding: 20px 20px;
    box-sizing: border-box;

    @include small {
        width: 95% !important;
        margin: 0 auto;
    }
}

.chart_header {
    color: $header-font-color;
    font-weight: 700;
    font-size: 1.4em;
    margin-bottom: 5%;
}

.pie_header {
    display: flex;
    justify-content: space-between;
    color: $header-font-color;
    font-weight: 700;
    font-size: 1.4em;
    margin-bottom: 5%;
}

.pie_buttons {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    top: 10px;
    position: relative;

    button {
        background: $primary-color;
        border: 1px solid $primary-color;
        padding: 5px;
        color: #fff;
        margin: 0px 6px 6px 0px;
        font-size: .7em;
        transition: all 0.2s ease-in-out;
        width: 25%;
        border-radius: 15px;
        outline: none;

        @include flex-center();

        @include medium {
            width: 40%;
            height: 25px;
        }
    }
}