html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "Apercu", sans-serif;
    color: #3f4047;
    font-size: 12px;
}

a {
    text-decoration:none;
    color: black;
 }


/* nav bar */

.nav {
    background: #fff;
    height: 10vh;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.06);
}

.navContent {
    max-width: 1000px;
    padding: 0 12px;
    margin: 0 auto;
    height: 100%;
}

.navHeader {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.betterfin-logo {
    width: 100%;
    max-width: 150px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    justify-content: center;
}

.drop-menu {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100px;
    margin: 2px 0 0 0;
}

.logout {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.avatar {
    margin: 0;
    box-sizing: border-box;
}

.avatar_img {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.avatar_svg {
    display: inline-block; 
    vertical-align: middle;
    padding-right: 12px;
}

.user-name {
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.user-name:hover {
    color: rgb(246, 102, 82);
}

.menu {
    margin: 0;
    box-sizing: border-box;
}

.subMenu {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 3px;
    margin-left: 6px;
}

.subMenu:hover {
    color: rgb(246, 102, 82);
}

.subMenu_svg {
    display: inline-block; 
    vertical-align: middle
}


/* page content */

.pageContent {
    height: 90vh;
    max-width: 1000px;
    margin: 0 auto;
    padding: 48px 6px;
}

.profile_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.profile_main {
    display: flex;
    flex-direction: column;
}

.profile_main h1 {
    font-size: 2.5em;
    font-weight: 400;
    margin: 0 0 24px 0;
}

.profile_main h2 {
    font-size: 1.9em;
    font-weight: 400;
    margin-bottom: 5%;
}

.ReactTable {
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.06);
    margin-bottom: 5%;
}

.ReactTable .rt-tbody .rt-td {
    text-align: center;
}

.rt-thead {
    background: #f66652;
    color: white;
    font-size: 1.1em;
    font-weight: 700;
}

.-header {
    line-height: 2;
}

.ReactTable .rt-tbody .rt-tr-group:nth-child(n) {
    color: black;
    border: none;
}

.ReactTable .rt-tbody .rt-tr-group:nth-child(n):hover {
    background: #f66652;
    filter: brightness(200%)
}

.ReactTable.-striped .rt-tr.-odd {
    background: white;
}

.ReactTable .-pagination .-btn {
    background: #f66652;
    color: white;
    font-weight: 700;
}

.ReactTable .-pagination .-btn:hover {
    background: #f66652 !important;
    opacity: .5;
}

.-previous button:hover {
    opacity: .5;
    background: #f66652;
    color: #f66652;
}

.rt-tr {
    padding: 6px;
}

.table_container {
    width: 80%;
    margin: 0 auto;
}

.table_header {
    color: #898B96;
    font-weight: 700;
    font-size: 1.4em;
    margin-bottom: 5%;
    text-align: left;
}

.chart_container {
    width: 80%;
    margin: 0 auto;
}

.chart_section {
    display: flex;
    height: 30%;
}

.balance_chart {
    height: 100%;
    width: 100%;
    margin-bottom: 5%;
}

canvas {
    width: 100% !important;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.06);
    padding: 20px 20px;
    box-sizing: border-box;
}

.chart_header {
    color: #898B96;
    font-weight: 700;
    font-size: 1.4em;
    margin-bottom: 5%;
}