html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Apercu", sans-serif;
  color: #3f4047;
  font-size: 12px;
}

body a {
  text-decoration: none;
  color: #000;
}

body img {
  width: 100px;
  margin: 2px 0 0 0;
}

body button:hover {
  cursor: pointer;
  opacity: .5;
}

body input[type=number]::-webkit-inner-spin-button,
body input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body .pageContent {
  height: 100vh;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 48px 0px;
}

@media (max-width: 600px) {
  body .pageContent {
    width: 95%;
  }
}

.nav {
  background: #fff;
  height: 10vh;
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.06);
          box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.06);
}

.navContent {
  max-width: 1000px;
  padding: 0 12px;
  margin: 0 auto;
  height: 100%;
}

.navHeader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.betterfin-logo {
  width: 100%;
  max-width: 150px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drop-menu {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logout {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.avatar {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.avatar_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.avatar_svg {
  display: inline-block;
  vertical-align: middle;
  padding-right: 12px;
  fill: #68968d;
}

.user-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
}

.menu {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subMenu {
  position: relative;
  top: 3px;
  margin-left: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-right:hover {
  color: #f66652;
}

.subMenu_svg {
  display: inline-block;
  vertical-align: middle;
}

.profile_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .profile_container {
    width: 100%;
    margin: 0 auto;
    font-size: .8em;
    min-width: 340px;
  }
}

.profile_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 600px) {
  .profile_main {
    margin-bottom: 5%;
  }
}

.profile_main h1 {
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 24px;
}

@media (max-width: 600px) {
  .profile_main h1 {
    margin-bottom: 12px;
  }
}

@media (max-width: 479px) {
  .profile_main h1 {
    font-size: 2.2em;
  }
}

.profile_main h2 {
  font-size: 1.9em;
  font-weight: 400;
  margin-bottom: 5%;
}

@media (max-width: 600px) {
  .profile_main h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 479px) {
  .profile_main h2 {
    font-size: 1.3em;
  }
}

.footer_container {
  border-top: 1px solid #e1e6ee;
}

.footer_container .footer_wrapper {
  position: static;
  z-index: 1;
  overflow: visible;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 auto;
          flex: 0 auto;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_container .footer_wrapper .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .footer-left {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .footer-left {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.footer-left .footer-brand {
  padding-right: 24px;
  padding-left: 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer-left .footer-brand .footer-img {
  height: 24px;
  margin-right: 6px;
  margin-left: -2px;
}

.footer-menu {
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .footer-menu {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: 0 auto;
            flex: 0 auto;
  }
}

@media (max-width: 479px) {
  .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer-menu .footer-link {
  padding: 6px 12px;
  border-radius: 5px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: "Apercu", sans-serif;
  color: #596273;
  font-size: 11px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 32px;
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 24px;
  padding-bottom: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #e1e6ee;
  color: #a9b0be;
  font-size: 11px;
  line-height: 16px;
}

@media (max-width: 767px) {
  .footer-bottom {
    margin-top: 6px;
  }
}

@media (max-width: 600px) {
  .footer-bottom {
    margin-right: 8px;
    margin-left: 8px;
  }
}

@media (max-width: 479px) {
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 6px;
  }
}

.footer-bottom .footer_social {
  margin-right: -3px;
  margin-left: -3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom .footer_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px;
  padding: 6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e1e6ee;
  border-radius: 5px;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
}

.footer-bottom .footer_social a img {
  width: 12px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.footer-bottom .footer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 600px) {
  .footer-bottom .footer_info {
    margin-left: 10px;
  }
}

@media (max-width: 479px) {
  .footer-bottom .footer_info {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 0px;
  }
}

.footer-bottom .footer_info .divider {
  width: 1px;
  height: 12px;
  margin-right: 8px;
  margin-left: 8px;
  background-color: #d3d8e1;
}

@media (max-width: 479px) {
  .footer-bottom .footer_info .w-hidden-tiny {
    display: none;
  }
}

.footer-bottom .link-grey {
  color: #7a8292;
  text-decoration: none;
}

.ReactTable {
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.06);
          box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.06);
  margin-bottom: 5%;
}

@media (max-width: 479px) {
  .ReactTable {
    width: 95%;
    margin: 0 auto;
  }
}

.ReactTable .rt-tbody .rt-td {
  text-align: center;
  width: 85px !important;
}

.ReactTable .rt-thead {
  background: #f66652;
  color: #fff;
  font-size: 1.1em;
  font-weight: 700;
  min-width: 340px !important;
}

.ReactTable .rt-th {
  width: 85px !important;
}

.ReactTable .-header {
  line-height: 2;
}

.ReactTable .rt-tbody {
  min-width: 340px !important;
}

.ReactTable .rt-tbody .rt-tr-group:nth-child(n) {
  color: #000;
  border: none;
}

.ReactTable .rt-tbody .rt-tr-group:nth-child(n):hover {
  background: #f66652;
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}

.ReactTable .-pagination .-btn {
  background: #f66652 !important;
  color: #fff !important;
  font-weight: 700;
}

.ReactTable .-pagination .-btn:hover {
  opacity: .5;
}

.ReactTable .-previous button:hover {
  opacity: .5;
  background: #f66652;
  color: #f66652;
}

.ReactTable .rt-tr {
  padding: 6px;
}

@media (max-width: 600px) {
  .ReactTable .rt-tr {
    padding: 3px 0px;
  }
}

.ReactTable.-striped .rt-tr.-odd {
  background: #fff !important;
}

.ReactTable.-striped .rt-tr.-odd:hover {
  background: #f66652 !important;
  color: #000 !important;
}

.table_container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .table_container {
    width: 100%;
    margin: 0 auto;
    font-size: .7em;
    min-width: 340px;
  }
}

.table_header {
  color: #898B96;
  font-weight: 700;
  font-size: 1.4em;
  margin-bottom: 5%;
  text-align: left;
}

@media (max-width: 767px) {
  .select-wrap {
    display: none;
  }
}

@media (max-width: 767px) {
  .select-wrap select {
    display: none;
  }
}

.chart_container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .chart_container {
    width: 100%;
    margin: 0 auto;
    font-size: .8em;
    min-width: 340px;
  }
}

.chart_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60%;
}

.pie_section {
  height: 70%;
}

.balance_chart {
  height: 100%;
  width: 100%;
  margin-bottom: 10%;
}

.pie_chart {
  height: 100%;
  width: 100%;
  margin-bottom: 10%;
}

canvas {
  width: 100% !important;
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.06);
          box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.06);
  padding: 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 479px) {
  canvas {
    width: 95% !important;
    margin: 0 auto;
  }
}

.chart_header {
  color: #898B96;
  font-weight: 700;
  font-size: 1.4em;
  margin-bottom: 5%;
}

.pie_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #898B96;
  font-weight: 700;
  font-size: 1.4em;
  margin-bottom: 5%;
}

.pie_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 40%;
  top: 10px;
  position: relative;
}

.pie_buttons button {
  background: #f66652;
  border: 1px solid #f66652;
  padding: 5px;
  color: #fff;
  margin: 0px 6px 6px 0px;
  font-size: .7em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 25%;
  border-radius: 15px;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .pie_buttons button {
    width: 40%;
    height: 25px;
  }
}
/*# sourceMappingURL=main.css.map */